html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow: auto; /* 允許滾動 */

}

/* 當螢幕大於 1535px 時進行等比例縮放 */
@media screen and (min-width: 1535px) {
  .App {
    transform: scale(calc(100vw / 1535));
    transform-origin: top left;
  }
}

/* 調整不同螢幕尺寸下的寬度和高度 */
@media screen and (max-width: 1535px) and (min-width: 1201px) {
  .App {
    width: 1200px;
    /* height: 750px; */
    overflow: visible;
  }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
  .App {
    width: 800px;
    /* height: 750px; */
    overflow: visible;
  }
}

@media screen and (max-width: 800px) {
  .App {
    width: 800px;
    /* height: 750px; */
    overflow: visible;
  }
}

/* 特定元素的媒體查詢設定 */
@media (max-width: 600px) {
  .modal-dialog {
    width: 100vw;  
    margin: 0;
  }
}




body {
  margin: 0;
  font-family: 'GenSenRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'GenSenRounded';
  src: url('../public/fonts/GenSenRounded-M.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 768px) {
  .userPage {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px; 
  }

  .infoSection {
    grid-template-columns: 1fr;
  }

  .infoBox {
    width: 100%; 
  }
}

/* 統一圖表容器的樣式，確保標題和圖表都被框架包含 */
.chart-container {
  flex: 0 0 auto;
  min-width: 300px;
  /* background-color: #F0EDE5;  */
  height: 90%;
  /* margin-bottom: -10px;  */
  padding: 20px; /* 增加內邊距確保標題和圖表有空間 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 讓標題和圖表從上到下排列 */
  align-items: center;
}

/* 調整標題的樣式，確保標題不擠壓圖表 */
.chart-container h3 {

  padding: 10px;
  font-size: 24px; /* 設置適當的字體大小 */
  font-weight: bold;
  color: #574938;
  background-color: #EFEBE6; /* 確保標題的背景色與容器背景一致 */
  width: 100%; /* 讓標題占滿寬度 */
  text-align: center; /* 將標題居中 */
}
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 讓訊息占滿 scroll-container 的寬度 */
  height: 100%; /* 讓訊息占滿 scroll-container 的高度 */
}

.empty-message h3 {
  font-size: 24px;
  font-weight: bold;
  color: #574938;
  background-color: #F0EDE5; /* 設置訊息背景顏色 */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-highlight.react-datepicker__day--highlighted-custom {
  background-color: #4b5f6c !important;
  color: white !important;
}

